.hobbies {
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hobbies img {
  width: 500px;
  border-radius: 50px;
}
.hobbies img:hover {
  opacity: 0.6;
}
