body {
  background-color: blanchedalmond;
}
.navigation {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 203, 167); 
  padding: 20px; 
  color: black;
  text-decoration: none;
  margin: 20px;
  border-radius: 20px;
}
.logoPic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50px;
  border-radius: 50%;
}
.navRight {
  list-style-type:none;
  display: flex;
  color: black;
}
.navRight button {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(225, 147, 46);
  color: white;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 0px 10px 0px 10px;
}
.navRight button:hover {
  background-color:antiquewhite;
  color: black;
  transition: 1s;
  
}
.indexContent {
  color: black;
  background-color: rgb(232, 203, 167);
  padding: 30px;  
}
.content {
  background-color: rgb(232, 203, 167);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border-radius: 2%;
  margin: 50px 50px;
}
.basicInfo {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.myphoto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 20%;
}
.header {
  text-align: center;
}