body {
  background-color: blanchedalmond;
}
.navigation {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  display: flex;
  justify-content: right;
  list-style-type: none;
  border-radius: 10px;
  background-color: rgb(232, 203, 167); 
  padding: 30px; 
}
.indexContent {
  color: black;
  background-color: rgb(232, 203, 167);
  padding: 30px;  
}
.home {
  color: black;
  text-decoration: none;
  margin: 30px;
}
.aboutMe {
  color: black;
  text-decoration: none;
  margin: 30px;
}
.contact {
  color: black;
  text-decoration: none;
  margin: 30px;
}
.content {
  background-color: rgb(232, 203, 167);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border-radius: 2%;
  margin: 50px 50px;
}
.basicInfo {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  border-radius: 20%;
  padding: 20px;
}
.header {
  text-align: center;
}